@(valores: String)
<form action="/autogenerar">
    <h1>Lista de C&oacute;digos</h1>
    <p><button class="button button2" type="submit" formmethod="get">Autogenerar</button>
</form>
<form action="/autogenerarAsync">
    <p></p><button class="button button2" type="submit" formmethod="get">AutogenerarAsync</button>
</form>
<form action="/getPromo">
<input name="input_codes" size="100" type="text" value="@valores"  /></p>
<hr />
    <p><button class="button button2" type="submit" formmethod="get">Consultar</button>
</form>
<p>&nbsp;</p>